.homepage {
    text-align: center;
}

button {
    width: 200px;
    height: 60px;
    background-color: #005C38;
    border: none;
    color: white;
    padding: auto 32px;
    margin: auto 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    cursor: pointer;

    @media (max-width: 768px) {
        margin: 10px auto;
    }
}

button:hover,
button:focus {
  color: #005C38;
  background-color: white;
  border-bottom-color: #DCDCDC;
  /* Firefox */
  -moz-transition: all 0.3s linear;
  /* WebKit */
  -webkit-transition: all 0.3s linear;
  /* Opera */
  -o-transition: all 0.3s linear;
  /* Standard */
  transition: all 0.3s linear;
}

button:active {
    border: 1px solid #005C38;
}